<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.fishfish.admin.repository.UserRepository">

    <resultMap id="base" type="tk.fishfish.admin.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="account_expire_at" property="accountExpireAt" jdbcType="DATE"/>
        <result column="account_lock" property="accountLock" jdbcType="BOOLEAN"/>
        <result column="credentials_expire_at" property="credentialsExpireAt" jdbcType="DATE"/>
        <result column="enable" property="enable" jdbcType="BOOLEAN"/>
        <result column="created_at" property="createdAt" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="updated_at" property="updatedAt" jdbcType="DATE"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="complex" type="tk.fishfish.admin.entity.User" extends="base">
        <collection property="roles" ofType="tk.fishfish.admin.entity.Role">
            <id column="r_id" property="id" jdbcType="VARCHAR"/>
            <result column="r_code" property="code" jdbcType="VARCHAR"/>
            <result column="r_name" property="name" jdbcType="VARCHAR"/>
            <result column="r_created_at" property="createdAt" jdbcType="DATE"/>
            <result column="r_created_by" property="createdBy" jdbcType="VARCHAR"/>
            <result column="r_updated_at" property="updatedAt" jdbcType="DATE"/>
            <result column="r_updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="loadByUsername" resultMap="complex">
        SELECT
            u.id as id,
            u.username as username,
            u.password as password,
            u.name as name,
            u.sex as sex,
            u.email as email,
            u.phone as phone,
            u.account_expire_at as account_expire_at,
            u.account_lock as account_lock,
            u.credentials_expire_at as credentials_expire_at,
            u.enable as enable,
            u.created_at as created_at,
            u.created_by as created_by,
            u.updated_at as updated_at,
            u.updated_by as updated_by,
            r.id as r_id,
            r.code as r_code,
            r.name as r_name,
            r.created_at as r_created_at,
            r.created_by as r_created_by,
            r.updated_at as r_updated_at,
            r.updated_by as r_updated_by
        FROM sys_user u
            LEFT JOIN sys_user_role ur ON u.id = ur.user_id
            LEFT JOIN sys_role r ON r.id = ur.role_id
        WHERE u.username = #{username}
    </select>

</mapper>